<link rel="stylesheet" type="text/css" href="/css/jass.css">
<link rel="stylesheet" href="/css/style.css">
<title>The Tech Blog</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if logged_in}}
                <li><a href="/profile">Profile</a></li>
                <li><a id="logout">Logout</a></li>
                {{!-- <li><button id="logout">Logout</button></li> --}}
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up!</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <div class="logo">
        <h1>The Tech Blog</h1>
    </div>
    <main>
        <div class="card">
            <div class="title">
                <h2>{{title}}</h2>
            </div>
            <div class="content">
                <p>{{content}}</p>
            </div>
            <div class="username">{{user.username}}</div>
            <ul>
                {{#unless comments}}
                <p style="font-style: oblique">(No comments yet...)</p>
                {{/unless}}
                {{#each comments as |comment| }}
                <li>
                    <p>{{comment.content}} -{{comment.user.username}}</p>
                </li>
                {{/each}}
            </ul>
            {{#if logged_in}}
            <form id="myForm">
                <label for="name">Add a comment below!</label><br><br>
                <textarea name="comment-text" rows="5" cols="40" required></textarea>
                <br>
                <button type="button" id="populateButton">Submit</button>
            </form>
            {{/if}}
        </div>
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>